### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.

# Create a free PostgreSQL database with 2 clicks (no account needed): https://dev.new/
DATABASE_URL=

# Follow the instructions here to create a Google OAuth app: https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=

AIRTABLE_ENDPOINT_DAO_LINKS=https://api.airtable.com/v0/appoEvb9MDDZDjQg8/tblfhqjqeghy7HCUS
AIRTABLE_API_KEY_DAO_LINKS=patA0J0zMevRsYg7B.293496dc4a4f694b74ebf72518c04c0ef2c53e7574a22f2198d6c7c624fc9b10


