.title {
	display: flex;
	flex-direction: row;
	color: white;
}

.triangle {
	height: 20px;
	margin-top: auto;
	margin-bottom: auto;
}

.titleContent {
	margin-top: auto;
	margin-bottom: auto;
}

.titleContent:hover {
	cursor: pointer;
}