.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers contents along the main axis */
  align-items: center; /* Centers contents along the cross axis */
  width: 96%;
}


.cards-container {
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Media query for larger screens */
@media (min-width: 600px) {
  .cards-container {
    width: 90%;
  }
}

@media (min-width: 900px) {
  .cards-container {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .cards-container {
    width: 80%;
  }
}

.container-dao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers contents along the main axis */
  align-items: center; /* Centers contents along the cross axis */
  width: 96%;
}

.cards-container-dao {
  width: 100%; 
  margin-top: 164px;
  display: flex;
  flex-direction: column;  /* Stacks flex items on top of each other */
  align-items: center;  /* Centers content along the cross axis (now horizontally) */
  text-align: center;  /* Centers text within the container */
  min-height: 100vh;  /* Ensuring container takes at least the full height of the viewport */
}


.glowText {
    width: 60%;
    color: #fff; /* Setting the text color */
    font-size: 55px;  /* Setting font size */
    text-shadow: 0 0 10px #08fc9c, /* horizontal offset, vertical offset, blur radius, color */
                0 0 15px #08fc9c,
                0 0 20px #08fc9c,
                0 0 25px #08fc9c,
                0 0 30px #08fc9c;
    -webkit-text-stroke: 1px black;  /* Add a black outline/stroke to the text */
    text-stroke: 1px black; /* Standard property but might not be supported in all browsers */
    text-align: center; /* To ensure the text itself is centered, in case it wraps to multiple lines */
    margin: 0 auto; /* Centering block elements */
}

.glowText_x {
    width: 60%;
    color: #fff; /* Setting the text color */
    font-size: 25px;  /* Setting font size */
    -webkit-text-stroke: 1px black;  /* Add a black outline/stroke to the text */
    text-stroke: 1px black; /* Standard property but might not be supported in all browsers */
    text-align: center; /* To ensure the text itself is centered, in case it wraps to multiple lines */
    margin: 0 auto; /* Centering block elements */
}

.glowText_x:hover {
    color: #08fc9c;
}


.videoContainer {
  width: 76%;
  max-width: 560px;  /* This can be the max width of the video or adjust as needed */
  margin: 20px 0;  /* Some margin for spacing */
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;  /* 16:9 aspect ratio */

}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 120px;
  text-align: center;
  color: white;
}
